body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

/* styling header */
h2, h3{
    color: #05386b;;
}

header{
    background-color: aquamarine;
    padding: 30px;
}
#logo{
    border-radius: 60px;
    padding: 0;

}
#lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
#lists a{
    text-decoration: none;
    color: #05386b;
 
}

/* styling welcome page */
#welcome{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    font-style: italic;
}
button{
    padding: 10px;
  
}
#btn-view{
    background-color: #05386b;
    margin-left: 50px;
    color: white;
}
/* styling the images */
img{
    padding-left: 60px;
}
main{
   
  
  
   
}
/* styling lion section */
#lion{
    padding-top:50px ;
    padding-bottom: 40px;
  
}
.lion-details{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.lion-media{
    padding-top: 30px;
}
/* styling dolphin section */
#dolphin{
    padding-top:30px ;
    padding-bottom: 40px;

}
.dolphin-details{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.dolphin-media{
    padding-top: 30px;
}

/* styling panda section */
strong{
    font-style: italic;
}
#panda{
    padding-top:30px ;
    padding-bottom: 60px;
}
.panda-details{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.panda-media{
    padding-top: 30px;
}


/* styling footer section */
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: lightgray;
}
footer h3{
    color: aquamarine;

}
.footer-bottom{
    padding-top: 30px;
}
.social-media{


}
.container{
    text-align: center;
}
#lists-social{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
#lists-social a{
    text-decoration: none;
}