body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

/* styling header */
h2, h3, h4{
    text-align: center;
}

header{
    background-color: aquamarine;
    padding: 30px;
}
#logo{
    border-radius: 60px;
    padding: 0;

}
#lists{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
#lists a{
    text-decoration: none;
    color: black;
    font-size: 20px;
 
}

/* styling welcome page */
#welcome{
    text-align: center;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    font-size: 18px;
    font-style: italic;
}
/* styling the images */
img{
    padding-left: 60px;
}
main{
    padding-left: 50px;
  
   
}
/* styling lion section */
#lion{

}
/* styling dolphin section */
#dolphin{

}
/* styling panda section */
#panda{
    padding-bottom: 60px;
}


/* styling footer section */
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.footer-bottom{
    padding-top: 30px;
}